mixin item-card(card, link)
  a.item-card(href=`${link}`)
    .item-card__img-container
      img.item-card__img(src=`${card.img}` alt='Изображение товара')
    if(card.number)
      p.item-card__number= card.number
    p.item-card__name= card.name
    if(card.number)
      p.item-card__desc= card.desc