mixin about
  section.about
    .about__1
      .about__img-container
        img.about__img(src=require('./components/about/img/1.png'), alt='Изображение')
      .about__content-container
        .about__content
          p.about__para В Dorff мы понимаем, как важен для Вас Ваш дом, и с уважением относимся к Вашему бюджету: достойный ремонт Вашей ванной комнаты не должен стоить дорого. Поэтому мы постоянно проводим оптимизацию каждого этапа производства без снижения качества продукции.
          p.about__big-para Поэтому мы постоянно проводим оптимизацию каждого этапа производства без снижения качества продукции.
    
    .about__2
      .about__content
        p.about__para Вся инженерная составляющая продукции Dorff разрабатывается в Германии. На сборочном производстве, организованном в России, с немецкой педантичностью внедрена система многократного тестирования и двойной проверки качества: обязательные сертификаты подтверждаются комплексом добровольных тестов. Наши смесители изготавливаются из высококачественных материалов и с соблюдением всех европейских нормативов, чтобы Вы могли убедиться в их добротности и долговечности.
      .about__img-container
        img.about__img(src=require('./components/about/img/2.png'), alt='Изображение')
  
    .about__3
      .about__img-container
        img.about__img(src=require('./components/about/img/3.png'), alt='Изображение')
      .about__content-container
        .about__content
          p.about__big-para!= 'В Dorff мы подходим к дизайну с такой же практичностью, как и к технической стороне вопроса'
          p.about__para!= 'Наш солидный и основательный дизайн гарантированно впишется в ванную любого стиля – даже при «обновлении» дизайна Вашего дома не возникнет необходимости менять сантехнику.'
  
    .about__4
      p.about__para Мы стремимся сделать так, чтобы Вы понимали, из чего строится цена на наши продукты, за какой функционал и качество Вы платите.

    .about__slogan
      p.about__slogan-para Убедитесь сами: Dorff – сделано на совесть

      include ~@/components/dots/dots
      +dots('about')